In [ ]:
import pandas as pd
import numpy as np
import pyreadstat

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn.dummy import DummyRegressor
from sklearn.pipeline import make_pipeline
import logging
from sklearn.preprocessing import StandardScaler

In [ ]:
#look into another dataset

f = "/Users/Puck/Desktop/MASTER/Pucks thesis/SharedResponsesSurvey.csv.crdownload"

data = pd.read_csv(f)

data = pd.DataFrame(data)

data

,ResponseID,ExtendedSessionID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,...,Template,DescriptionShown,LeftHand,UserCountry3,Review_age,Review_education,Review_gender,Review_income,Review_political,Review_religious
0,3ubu5Minm7ygqK3oa,-2147481563_6968366610050747.0,6.968367e+15,13.0,0.0,0.0,0.0,0.0,Female,Gender,...,Desktop,0.0,0.0,RUS,32.0,bachelor,male,35000,0.5,0.61
1,FKd9Fje2tWt2sHi6v,-2147481563_6968366610050747.0,6.968367e+15,8.0,0.0,1.0,0.0,0.0,Fat,Fitness,...,Desktop,0.0,0.0,RUS,32.0,bachelor,male,35000,0.5,0.61
2,J6WRHLj8exr4bNwTm,-2147481563_6968366610050747.0,6.968367e+15,2.0,0.0,0.0,0.0,2.0,Young,Age,...,Desktop,0.0,1.0,RUS,32.0,bachelor,male,35000,0.5,0.61
3,KcYXwqS3rTrbqdTY2,-2147481563_6968366610050747.0,6.968367e+15,1.0,0.0,1.0,0.0,2.0,Pets,Species,...,Desktop,0.0,1.0,RUS,32.0,bachelor,male,35000,0.5,0.61
4,ZQsAWst58jK9HcKvx,-2147481563_6968366610050747.0,6.968367e+15,5.0,0.0,1.0,0.0,0.0,Fit,Fitness,...,Desktop,0.0,1.0,RUS,32.0,bachelor,male,35000,0.5,0.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2922159,RrnysoKTzHNKd3jDT,70983678_4020029736578676.0,4.020030e+15,10.0,0.0,0.0,0.0,2.0,More,Utilitarian,...,Desktop,0.0,0.0,USA,43.0,graduate,female,35000,0.6,0.27
2922160,SKJmoPj69K2u9FdZL,70983678_4020029736578676.0,4.020030e+15,11.0,0.0,1.0,0.0,0.0,Male,Gender,...,Desktop,0.0,1.0,USA,43.0,graduate,female,35000,0.6,0.27
2922161,Zt8LrgN5moEH8Jk4S,70983678_4020029736578676.0,4.020030e+15,1.0,0.0,1.0,0.0,0.0,Young,Age,...,Desktop,1.0,1.0,USA,43.0,graduate,female,35000,0.6,0.27
2922162,aA6iLRtG64bBevocJ,70983678_4020029736578676.0,4.020030e+15,13.0,0.0,1.0,0.0,0.0,Young,Age,...,Desktop,0.0,1.0,USA,43.0,graduate,female,35000,0.6,0.27
2922163,bYdgaGmbPpAt5eZMa,70983678_4020029736578676.0,4.020030e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
column_names = data.columns

print("Column names:", column_names)
data.info()
print("Rows x columns:", data.shape)

Column names: Index(['ResponseID', 'ExtendedSessionID', 'UserID', 'ScenarioOrder',
       'Intervention', 'PedPed', 'Barrier', 'CrossingSignal', 'AttributeLevel',
       'ScenarioTypeStrict', 'ScenarioType', 'DefaultChoice',
       'NonDefaultChoice', 'DefaultChoiceIsOmission', 'NumberOfCharacters',
       'DiffNumberOFCharacters', 'Saved', 'Template', 'DescriptionShown',
       'LeftHand', 'UserCountry3', 'Review_age', 'Review_education',
       'Review_gender', 'Review_income', 'Review_political',
       'Review_religious'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2922164 entries, 0 to 2922163
Data columns (total 27 columns):
 #   Column                   Dtype
---  ------                   -----
 0   ResponseID               object
 1   ExtendedSessionID        object
 2   UserID                   float64
 3   ScenarioOrder            float64
 4   Intervention             float64
 5   PedPed                   float64
 6   Barrier                  float64
 7   CrossingSignal           float64
 8   AttributeLevel           object
 9   ScenarioTypeStrict       object
 10  ScenarioType             object
 11  DefaultChoice            object
 12  NonDefaultChoice         object
 13  DefaultChoiceIsOmission  float64
 14  NumberOfCharacters       float64
 15  DiffNumberOFCharacters   float64
 16  Saved                    float64
 17  Template                 object
 18  DescriptionShown         float64
 19  LeftHand                 float64
 20  UserCountry3             object
 21  Review_age               object
 22  Review_education         object
 23  Review_gender            object
 24  Review_income            object
 25  Review_political         float64
 26  Review_religious         float64
dtypes: float64(14), object(13)
memory usage: 601.9+ MB
Rows x columns: (2922164, 27)

In [ ]:
column_countries = data['UserCountry3']

country = pd.DataFrame(column_countries)

pd.DataFrame(country)

        UserCountry3
0                RUS
1                RUS
2                RUS
3                RUS
4                RUS
...              ...
2922159          USA
2922160          USA
2922161          USA
2922162          USA
2922163          NaN

[2922164 rows x 1 columns]

In [ ]:
#check how many countries

unique_countries = country['UserCountry3'].unique()

unique_countries

array(['RUS', 'BEL', 'GHA', 'BRA', 'USA', 'FRA', 'ESP', 'CZE', 'CHE',
       'DZA', 'DEU', 'JPN', 'GBR', 'HKG', 'PHL', 'GRC', 'HUN', 'POL',
       'AUS', 'CHL', 'ROU', 'VEN', 'CAN', 'IRL', 'ITA', 'PER', 'ISR',
       'MNG', 'KOR', 'NLD', 'HRV', 'SGP', 'TUR', 'PRT', 'TWN', 'VNM',
       'ARE', 'SWE', nan, 'FIN', 'LUX', 'BLR', 'AUT', 'SVK', 'MDA', 'IDN',
       'MAR', 'PAK', 'AFG', 'MEX', 'NZL', 'NOR', 'HND', 'KEN', 'IND',
       'CHN', 'ISL', 'LVA', 'UKR', 'ZAF', 'CYP', 'DNK', 'SLV', 'MYS',
       'MAC', 'LBN', 'ARG', 'LTU', 'SAU', 'DOM', 'UZB', 'BGR', 'SRB',
       'ECU', 'EST', 'GTM', 'COL', 'JOR', 'PYF', 'PSE', 'CRI', 'GEO',
       'TUN', 'BOL', 'ALB', 'EGY', 'IRN', 'MNE', 'JEY', 'BHS', 'NPL',
       'KGZ', 'MKD', 'SVN', 'THA', 'LKA', 'MMR', 'PAN', 'MLT', 'NAM',
       'TJK', 'ARM', 'GLP', 'KAZ', 'QAT', 'TTO', 'BMU', 'BIH', 'AZE',
       'URY', 'NCL', 'MTQ', 'IMN', 'BGD', 'REU', 'GIB', 'CPV', 'NIC',
       'FRO', 'VIR', 'SXM', 'SYR', 'PRK', 'SEN', 'UGA', 'GUM', 'JAM',
       'PRI', 'MUS', 'KWT', 'GUF', 'GNQ', 'BHR', 'PRY', 'IRQ', 'ZWE',
       'BRB', 'SPM', 'CUW', 'MCO', 'HTI', 'ABW', 'BRN', 'GAB', 'DMA',
       'GRL', 'MYT', 'ASM', 'RWA', 'MAF', 'VUT', 'NGA', 'BFA', 'KHM',
       'GGY', 'DJI', 'SYC', 'ATG', 'OMN', 'LAO', 'MOZ', 'SDN', 'CMR',
       'ALA', 'KNA', 'SUR', 'MDG', 'AND', 'BLZ', 'AGO', 'LIE', 'LSO',
       'MLI', 'MDV', 'LCA', 'BWA', 'IOT', 'MWI', 'SLE', 'GUY', 'AIA',
       'FJI', 'COG', 'TCD', 'COD', 'GMB', 'BEN', 'VCT', 'CIV', 'MRT',
       'TZA', 'SMR', 'LBY', 'SOM', 'CUB', 'NFK', 'ZMB', 'ETH', 'VAT',
       'TCA', 'FSM', 'PLW', 'NER', 'CYM', 'SWZ', 'TLS', 'YEM', 'TGO',
       'GIN'], dtype=object)

In [ ]:
countries = [
  ["AUT", "Austria"],
  ["BEL", "Belgium"],
  ["BGR", "Bulgaria"],
  ["HRV", "Croatia"],
  ["CYP", "Cyprus"],
  ["CZE", "Czech Republic"],
  ["DNK", "Denmark"],
  ["EST", "Estonia"],
  ["FIN", "Finland"],
  ["FRA", "France"],
  ["DEU", "Germany"],
  ["GRC", "Greece"],
  ["HUN", "Hungary"],
  ["IRL", "Ireland"],
  ["ITA", "Italy"],
  ["LVA", "Latvia"],
  ["LTU", "Lithuania"],
  ["LUX", "Luxembourg"],
  ["MLT", "Malta"],
  ["NLD", "Netherlands"],
  ["POL", "Poland"],
  ["PRT", "Portugal"],
  ["ROU", "Romania"],
  ["SVK", "Slovakia"],
  ["SVN", "Slovenia"],
  ["ESP", "Spain"],
  ["SWE", "Sweden"]
]


countries_europe = pd.DataFrame(
    {
        "UserCountry3": [country[0] for country in countries],
        'country_name': [country[1] for country in countries],
    }
)

pd.DataFrame(countries_europe)

   UserCountry3    country_name
0           AUT         Austria
1           BEL         Belgium
2           BGR        Bulgaria
3           HRV         Croatia
4           CYP          Cyprus
5           CZE  Czech Republic
6           DNK         Denmark
7           EST         Estonia
8           FIN         Finland
9           FRA          France
10          DEU         Germany
11          GRC          Greece
12          HUN         Hungary
13          IRL         Ireland
14          ITA           Italy
15          LVA          Latvia
16          LTU       Lithuania
17          LUX      Luxembourg
18          MLT           Malta
19          NLD     Netherlands
20          POL          Poland
21          PRT        Portugal
22          ROU         Romania
23          SVK        Slovakia
24          SVN        Slovenia
25          ESP           Spain
26          SWE          Sweden

In [ ]:
selected_countries = ["AUT","BEL","BGR","HRV","CYP","CZE","DNK","EST","FIN","FRA","DEU","GRC","HUN","IRL","ITA","LVA","LTU","LUX","MLT","NLD","POL","PRT","ROU","SVK","SVN","ESP","SWE"]

data = data[data['UserCountry3'].isin(selected_countries)]

# Print the subset DataFrame
pd.DataFrame(data)

,ResponseID,ExtendedSessionID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,...,Template,DescriptionShown,LeftHand,UserCountry3,Review_age,Review_education,Review_gender,Review_income,Review_political,Review_religious
12,8whe449weo7kTYSLk,-2147456672_5603843098383972.0,5.603843e+15,12.0,0.0,1.0,0.0,0.0,Rand,Fitness,...,Desktop,1.0,0.0,BEL,23.0,graduate,male,35000,0.65,0.00
13,QMcdnKDXB8aCjcyY7,-2147456672_5603843098383972.0,5.603843e+15,7.0,0.0,0.0,1.0,0.0,Hoomans,Species,...,Desktop,0.0,1.0,BEL,23.0,graduate,male,35000,0.65,0.00
14,ex8Yry3j5xs2gQB9t,-2147456672_5603843098383972.0,5.603843e+15,13.0,0.0,1.0,0.0,0.0,Fit,Fitness,...,Desktop,0.0,1.0,BEL,23.0,graduate,male,35000,0.65,0.00
15,gTsX5fFbjHHpeQWvf,-2147456672_5603843098383972.0,5.603843e+15,1.0,0.0,0.0,0.0,0.0,Young,Age,...,Desktop,1.0,1.0,BEL,23.0,graduate,male,35000,0.65,0.00
16,i7ztRb5RdTu27QT4y,-2147456672_5603843098383972.0,5.603843e+15,2.0,0.0,1.0,0.0,1.0,Male,Gender,...,Desktop,0.0,0.0,BEL,23.0,graduate,male,35000,0.65,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2922140,fK2rnBDe6o2swRYq5,70967695_1716044646550050.0,1.716045e+15,12.0,0.0,1.0,0.0,0.0,Female,Gender,...,Mobile,0.0,0.0,ESP,38.0,bachelor,female,35000,0.79,0.18
2922141,niArHZCkuHEngNN75,70967695_1716044646550050.0,1.716045e+15,6.0,0.0,1.0,0.0,1.0,Fat,Fitness,...,Mobile,0.0,1.0,ESP,38.0,bachelor,female,35000,0.79,0.18
2922142,qrDT6kdzqAkukx8oR,70967695_1716044646550050.0,1.716045e+15,5.0,0.0,1.0,0.0,0.0,Less,Utilitarian,...,Mobile,0.0,1.0,ESP,38.0,bachelor,female,35000,0.79,0.18
2922143,rRmPJrifWuSvMZNaE,70967695_1716044646550050.0,1.716045e+15,8.0,0.0,0.0,0.0,0.0,Fit,Fitness,...,Mobile,0.0,1.0,ESP,38.0,bachelor,female,35000,0.79,0.18
2922144,ycDh9Xp7upce3DNeL,70967695_1716044646550050.0,1.716045e+15,3.0,0.0,0.0,0.0,1.0,Hoomans,Species,...,Mobile,0.0,0.0,ESP,38.0,bachelor,female,35000,0.79,0.18

In [ ]:
def reduce_dataset_with_target(df, target_column='UserCountry3', reduction_percentage=0.20, random_state=None):
    # Check unique values in the target column
    unique_categories = df[target_column].unique()
    print("Unique Categories:", unique_categories)

    # Create an empty DataFrame to store the reduced dataset
    reduced_df = pd.DataFrame()

    # Iterate over unique categories and select rows for each category to meet the reduction percentage
    for category in unique_categories:
        category_subset = df[df[target_column] == category]
        category_subset_size = int(len(category_subset) * reduction_percentage)
        print(f"Category: {category}, Original Size: {len(category_subset)}, Reduced Size: {category_subset_size}")

        if category_subset_size > 0:
            category_subset = category_subset.sample(n=category_subset_size, random_state=random_state)
            reduced_df = reduced_df.append(category_subset)

    return reduced_df

# Example usage
# Assuming 'subset_dataset2' is your original DataFrame
reduced_data = pd.DataFrame(reduce_dataset_with_target(data, target_column='UserCountry3', reduction_percentage=0.20))
#reduced_subset_with_target.head()
pd.DataFrame(data)

Unique Categories: ['BEL' 'FRA' 'ESP' 'CZE' 'DEU' 'GRC' 'HUN' 'POL' 'ROU' 'IRL' 'ITA' 'NLD'
 'HRV' 'PRT' 'SWE' 'FIN' 'LUX' 'AUT' 'SVK' 'LVA' 'CYP' 'DNK' 'LTU' 'BGR'
 'EST' 'SVN' 'MLT']
Category: BEL, Original Size: 33104, Reduced Size: 6620
Category: FRA, Original Size: 233646, Reduced Size: 46729
Category: ESP, Original Size: 54456, Reduced Size: 10891
Category: CZE, Original Size: 59453, Reduced Size: 11890
Category: DEU, Original Size: 186627, Reduced Size: 37325
Category: GRC, Original Size: 10978, Reduced Size: 2195
Category: HUN, Original Size: 56653, Reduced Size: 11330
Category: POL, Original Size: 55456, Reduced Size: 11091
Category: ROU, Original Size: 17423, Reduced Size: 3484
Category: IRL, Original Size: 11532, Reduced Size: 2306
Category: ITA, Original Size: 82203, Reduced Size: 16440
Category: NLD, Original Size: 37523, Reduced Size: 7504
Category: HRV, Original Size: 4892, Reduced Size: 978
Category: PRT, Original Size: 31645, Reduced Size: 6329
Category: SWE, Original Size: 27280, Reduced Size: 5456
Category: FIN, Original Size: 24608, Reduced Size: 4921
Category: LUX, Original Size: 2087, Reduced Size: 417
Category: AUT, Original Size: 21731, Reduced Size: 4346
Category: SVK, Original Size: 15746, Reduced Size: 3149
Category: LVA, Original Size: 3254, Reduced Size: 650
Category: CYP, Original Size: 990, Reduced Size: 198
Category: DNK, Original Size: 17714, Reduced Size: 3542
Category: LTU, Original Size: 4961, Reduced Size: 992
Category: BGR, Original Size: 6968, Reduced Size: 1393
Category: EST, Original Size: 4250, Reduced Size: 850
Category: SVN, Original Size: 2661, Reduced Size: 532
Category: MLT, Original Size: 912, Reduced Size: 182

,ResponseID,ExtendedSessionID,UserID,ScenarioOrder,Intervention,PedPed,Barrier,CrossingSignal,AttributeLevel,ScenarioTypeStrict,...,Template,DescriptionShown,LeftHand,UserCountry3,Review_age,Review_education,Review_gender,Review_income,Review_political,Review_religious
12,8whe449weo7kTYSLk,-2147456672_5603843098383972.0,5.603843e+15,12.0,0.0,1.0,0.0,0.0,Rand,Fitness,...,Desktop,1.0,0.0,BEL,23.0,graduate,male,35000,0.65,0.00
13,QMcdnKDXB8aCjcyY7,-2147456672_5603843098383972.0,5.603843e+15,7.0,0.0,0.0,1.0,0.0,Hoomans,Species,...,Desktop,0.0,1.0,BEL,23.0,graduate,male,35000,0.65,0.00
14,ex8Yry3j5xs2gQB9t,-2147456672_5603843098383972.0,5.603843e+15,13.0,0.0,1.0,0.0,0.0,Fit,Fitness,...,Desktop,0.0,1.0,BEL,23.0,graduate,male,35000,0.65,0.00
15,gTsX5fFbjHHpeQWvf,-2147456672_5603843098383972.0,5.603843e+15,1.0,0.0,0.0,0.0,0.0,Young,Age,...,Desktop,1.0,1.0,BEL,23.0,graduate,male,35000,0.65,0.00
16,i7ztRb5RdTu27QT4y,-2147456672_5603843098383972.0,5.603843e+15,2.0,0.0,1.0,0.0,1.0,Male,Gender,...,Desktop,0.0,0.0,BEL,23.0,graduate,male,35000,0.65,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2922140,fK2rnBDe6o2swRYq5,70967695_1716044646550050.0,1.716045e+15,12.0,0.0,1.0,0.0,0.0,Female,Gender,...,Mobile,0.0,0.0,ESP,38.0,bachelor,female,35000,0.79,0.18
2922141,niArHZCkuHEngNN75,70967695_1716044646550050.0,1.716045e+15,6.0,0.0,1.0,0.0,1.0,Fat,Fitness,...,Mobile,0.0,1.0,ESP,38.0,bachelor,female,35000,0.79,0.18
2922142,qrDT6kdzqAkukx8oR,70967695_1716044646550050.0,1.716045e+15,5.0,0.0,1.0,0.0,0.0,Less,Utilitarian,...,Mobile,0.0,1.0,ESP,38.0,bachelor,female,35000,0.79,0.18
2922143,rRmPJrifWuSvMZNaE,70967695_1716044646550050.0,1.716045e+15,8.0,0.0,0.0,0.0,0.0,Fit,Fitness,...,Mobile,0.0,1.0,ESP,38.0,bachelor,female,35000,0.79,0.18
2922144,ycDh9Xp7upce3DNeL,70967695_1716044646550050.0,1.716045e+15,3.0,0.0,0.0,0.0,1.0,Hoomans,Species,...,Mobile,0.0,0.0,ESP,38.0,bachelor,female,35000,0.79,0.18

In [ ]:
def reduce_and_select_columns(df, target_column='UserCountry3', reduction_percentage=0.15, random_state=None):
    # Check unique values in the target column
    unique_categories = df[target_column].unique()

    # Create an empty DataFrame to store the reduced dataset
    reduced_df = pd.DataFrame()

    # Iterate over unique categories and select rows for each category to meet the reduction percentage
    for category in unique_categories:
        category_subset = df[df[target_column] == category]
        category_subset_size = int(len(category_subset) * reduction_percentage)

        if category_subset_size > 0:
            category_subset = category_subset.sample(n=category_subset_size, random_state=random_state)
            reduced_df = reduced_df.append(category_subset)

    # Select only specific columns
    selected_columns = ['Review_age', 'Review_education', 'Review_gender', 'Review_income', 'Review_religious', 'UserCountry3']
    reduced_df = reduced_df[selected_columns]

    return reduced_df
data = reduce_and_select_columns(data, target_column='UserCountry3', reduction_percentage=0.20)

In [ ]:
pd.DataFrame(data)

,Review_age,Review_education,Review_gender,Review_income,Review_religious,UserCountry3
1273136,19.0,high,male,under5000,0.69,BEL
2751766,37.0,bachelor,male,25000,0.00,BEL
2911179,18.0,high,male,default,0.00,BEL
1600018,28.0,bachelor,male,15000,1.00,BEL
1641409,22.0,bachelor,male,under5000,0.09,BEL
...,...,...,...,...,...,...
1037246,23.0,bachelor,male,15000,0.54,MLT
1856459,NaN,default,female,default,0.50,MLT
2875389,19.0,college,female,under5000,0.11,MLT
2621913,49.0,graduate,female,50000,0.00,MLT
933896,19.0,college,male,under5000,0.00,MLT

In [ ]:
import numpy as np

# Check for NaN values in the entire dataset
'''nan_check = clean_data.isnull().sum().sum()
print(f"Number of NaN values in the dataset: {nan_check}")

# Check for infinity values in the entire dataset
inf_check = np.isinf(clean_data).sum().sum()
print(f"Number of infinity values in the dataset: {inf_check}")

# Check for values too large for float64 in the entire dataset
large_values_check = (clean_data.abs() > np.finfo(np.float64).max).sum().sum()
print(f"Number of values too large for float64 in the dataset: {large_values_check}")
'''

data = data.dropna()

print(data)

        Review_age Review_education Review_gender Review_income  \
1273136       19.0             high          male     under5000
2751766       37.0         bachelor          male         25000
2911179       18.0             high          male       default
1600018       28.0         bachelor          male         15000
1641409       22.0         bachelor          male     under5000
...            ...              ...           ...           ...
2280801       14.0          default        female       default
1037246       23.0         bachelor          male         15000
2875389       19.0          college        female     under5000
2621913       49.0         graduate        female         50000
933896        19.0          college          male     under5000

         Review_religious UserCountry3
1273136              0.69          BEL
2751766              0.00          BEL
2911179              0.00          BEL
1600018              1.00          BEL
1641409              0.09          BEL
...                   ...          ...
2280801              0.15          MLT
1037246              0.54          MLT
2875389              0.11          MLT
2621913              0.00          MLT
933896               0.00          MLT

[179451 rows x 6 columns]

In [ ]:
data.dtypes

Review_age          float32
Review_education     object
Review_gender        object
Review_income        object
Review_religious    float32
UserCountry3         object
dtype: object

In [ ]:
import pandas as pd
import numpy as np

# Assuming X is your DataFrame or Series
inf_check = data.isin([np.inf, -np.inf]).any()

# Convert the DataFrame to float32
# X_float32 = data.astype('float32')
data['Review_religious'] = data['Review_religious'].astype('float64')
X_float64 = data['Review_religious'] = data['Review_religious'].astype('float64')

# Check for values too large for float32
large_value_check = np.abs(X_float64) > np.finfo(np.float64).max

# Print the results
print("Infinity check:", inf_check)
print("Large value check:", large_value_check.any())

data['Review_age'] = data['Review_age'].astype('float64')


data.dtypes

Infinity check: Review_age           True
Review_education    False
Review_gender       False
Review_income       False
Review_religious    False
UserCountry3        False
dtype: bool
Large value check: False

Review_age          float64
Review_education     object
Review_gender        object
Review_income        object
Review_religious    float64
UserCountry3         object
dtype: object

In [ ]:
#data.dtypes

#print(clean_data.columns)
'''encoded_data = pd.get_dummies(data, columns=['Review_education', 'Review_gender', 'Review_income'])

pd.DataFrame(encoded_data)'''

# Do a separate dataset named hotencodeddata

,Review_age,Review_religious,UserCountry3,Review_education_bachelor,Review_education_college,Review_education_default,Review_education_graduate,Review_education_high,Review_education_others,Review_education_underHigh,...,Review_income_15000,Review_income_25000,Review_income_35000,Review_income_5000,Review_income_50000,Review_income_80000,Review_income_above100000,Review_income_default,Review_income_over10000,Review_income_under5000
2574234,19.0,0.00,BEL,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2690330,25.0,0.00,BEL,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1333185,35.0,0.50,BEL,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2632955,13.0,0.00,BEL,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2539674,30.0,0.43,BEL,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2506382,30.0,0.78,MLT,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1617994,20.0,0.00,MLT,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2355880,31.0,0.00,MLT,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,0
1037248,23.0,0.54,MLT,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
362697,15.0,0.17,MLT,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
#encoded_data.columns

Index(['Review_age', 'Review_religious', 'UserCountry3',
       'Review_education_bachelor', 'Review_education_college',
       'Review_education_default', 'Review_education_graduate',
       'Review_education_high', 'Review_education_others',
       'Review_education_underHigh', 'Review_education_vocational',
       'Review_gender_default', 'Review_gender_female', 'Review_gender_male',
       'Review_gender_others', 'Review_income_10000', 'Review_income_15000',
       'Review_income_25000', 'Review_income_35000', 'Review_income_5000',
       'Review_income_50000', 'Review_income_80000',
       'Review_income_above100000', 'Review_income_default',
       'Review_income_over10000', 'Review_income_under5000'],
      dtype='object')

In [ ]:
from sklearn.model_selection import train_test_split

# Assuming 'data' is your original DataFrame
X = data[['Review_age', 'Review_education', 'Review_gender', 'Review_income', 'Review_religious', 'UserCountry3']]
y = data['UserCountry3']

# Split the data into training and test sets
train, test, y_train, y_test = train_test_split(X, y, train_size=0.80, random_state=42)

# Display the training set as a DataFrame
pd.DataFrame(train)

# Print the shapes of the training and testing sets
print("Training set shapes:", train.shape, y_train.shape)
print("Testing set shapes:", test.shape, y_test.shape)

Training set shapes: (143543, 6) (143543,)
Testing set shapes: (35886, 6) (35886,)

In [ ]:
train

,Review_age,Review_education,Review_gender,Review_income,Review_religious,UserCountry3
1225799,20.0,college,male,under5000,0.00,FRA
1968811,17.0,underHigh,male,under5000,0.04,ITA
953839,18.0,college,male,5000,0.00,DEU
2823427,19.0,high,male,under5000,0.00,NLD
553744,19.0,vocational,female,50000,0.00,DEU
...,...,...,...,...,...,...
921644,40.0,bachelor,male,50000,0.00,POL
2132757,31.0,college,male,80000,0.70,HUN
1903858,35.0,high,male,10000,0.00,ITA
2431862,16.0,high,female,default,0.00,NLD
1830036,27.0,graduate,male,15000,0.00,ROU

In [ ]:
'''X = encoded_data[['Review_age', 'Review_religious',
       'Review_education_bachelor', 'Review_education_college',
       'Review_education_default', 'Review_education_graduate',
       'Review_education_high', 'Review_education_others',
       'Review_education_underHigh', 'Review_education_vocational',
       'Review_gender_default', 'Review_gender_female', 'Review_gender_male',
       'Review_gender_others', 'Review_income_10000', 'Review_income_15000',
       'Review_income_25000', 'Review_income_35000', 'Review_income_5000',
       'Review_income_50000', 'Review_income_80000',
       'Review_income_above100000', 'Review_income_default',
       'Review_income_over10000', 'Review_income_under5000']]
y = encoded_data[['UserCountry3']]

train, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.2, random_state=42)
validation, test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=2/3, random_state=42)


print("Training set shapes:", train.shape, y_train.shape)
print("Validation set shapes:", validation.shape, y_val.shape)
print("Testing set shapes:", test.shape, y_test.shape)'''

'X = encoded_data[[\'Review_age\', \'Review_religious\',\n       \'Review_education_bachelor\', \'Review_education_college\',\n       \'Review_education_default\', \'Review_education_graduate\',\n       \'Review_education_high\', \'Review_education_others\',\n       \'Review_education_underHigh\', \'Review_education_vocational\',\n       \'Review_gender_default\', \'Review_gender_female\', \'Review_gender_male\',\n       \'Review_gender_others\', \'Review_income_10000\', \'Review_income_15000\',\n       \'Review_income_25000\', \'Review_income_35000\', \'Review_income_5000\',\n       \'Review_income_50000\', \'Review_income_80000\',\n       \'Review_income_above100000\', \'Review_income_default\',\n       \'Review_income_over10000\', \'Review_income_under5000\']]\ny = encoded_data[[\'UserCountry3\']]\n\ntrain, X_temp, y_train, y_temp = train_test_split(X, y, test_size=0.2, random_state=42)\nvalidation, test, y_val, y_test = train_test_split(X_temp, y_temp, test_size=2/3, random_state=42)\n\n\nprint("Training set shapes:", train.shape, y_train.shape)\nprint("Validation set shapes:", validation.shape, y_val.shape)\nprint("Testing set shapes:", test.shape, y_test.shape)'

In [ ]:
from sklearn.ensemble import RandomForestClassifier

# Assuming 'df' is your DataFrame
feature_columns = ['Review_age', 'Review_education', 'Review_gender', 'Review_income', 'Review_religious']
target_column = 'UserCountry3'

# Extract features and target variable
X = [feature_columns]
y = [target_column]

featurizer = ColumnTransformer(
    transformers=[
        ('numeric', StandardScaler(), ['Review_age', 'Review_religious']),
        ('categorical', OneHotEncoder(), ['Review_education', 'Review_gender', 'Review_income'])
    ],
    remainder='passthrough'  # Pass through any other columns
)

# Create a pipeline with DecisionTreeClassifier
random_forest = Pipeline([
    ('features', featurizer),
    ('classifier', DecisionTreeClassifier(random_state=42))
])

#drop the year column from the dataset to do testing
X = train.drop("UserCountry3", axis=1)
y = train["UserCountry3"]

#split data in train and test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=123)

random_forest.fit(X_train, y_train)
predictions = random_forest.predict(X_test)

err = accuracy_score(y_test, predictions)
print('Accuracy', err)

#apply random forest function to the test set
pred = random_forest.predict(test)
pred

Accuracy 0.3157894736842105

array(['FRA', 'ITA', 'FRA', ..., 'FRA', 'FRA', 'DEU'], dtype=object)

In [ ]:
train.dtypes

Review_age          float64
Review_education     object
Review_gender        object
Review_income        object
Review_religious    float64
UserCountry3         object
dtype: object

In [ ]:
# Assuming 'data' is your DataFrame
numeric_columns = data.select_dtypes(include=[np.number]).columns

for column in numeric_columns:
    # Check if the column contains infinity values
    inf_values = data[column].isin([np.inf, -np.inf])

    # Check if there are any infinity values in the column
    if inf_values.any():
        print(f"Infinity values present in column '{column}'.")
    else:
        print(f"No infinity values found in column '{column}'.")

Infinity values present in column 'Review_age'.
No infinity values found in column 'Review_religious'.

In [ ]:
import pandas as pd
import numpy as np

# Assuming 'data' is your DataFrame and 'column_to_check' is the specific column
column_to_check = 'Review_age'

# Count the number of infinite values in the specified column
num_infinite_values = data[column_to_check].isin([np.inf, -np.inf]).sum()

# Print the number of infinite values
print(f"Number of infinite values in column '{column_to_check}': {num_infinite_values}")

# Filter out rows with infinite values in the specified column
data_no_inf = data[~data[column_to_check].isin([np.inf, -np.inf])]

# Now 'data_no_inf' contains rows without infinite values in the specified column

Number of infinite values in column 'Review_age': 22

In [ ]:
data.drop(data[data[column_to_check].isin([np.inf, -np.inf])].index, inplace=True)
data

,Review_age,Review_education,Review_gender,Review_income,Review_religious,UserCountry3
1273136,19.0,high,male,under5000,0.69,BEL
2751766,37.0,bachelor,male,25000,0.00,BEL
2911179,18.0,high,male,default,0.00,BEL
1600018,28.0,bachelor,male,15000,1.00,BEL
1641409,22.0,bachelor,male,under5000,0.09,BEL
...,...,...,...,...,...,...
2280801,14.0,default,female,default,0.15,MLT
1037246,23.0,bachelor,male,15000,0.54,MLT
2875389,19.0,college,female,under5000,0.11,MLT
2621913,49.0,graduate,female,50000,0.00,MLT
933896,19.0,college,male,under5000,0.00,MLT

In [ ]:
# Here I am having the same problem with the decision tree, check with Michal.

In [ ]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

# Assuming 'df' is your DataFrame
feature_columns = ['Review_age', 'Review_education', 'Review_gender', 'Review_income', 'Review_religious']
target_column = 'UserCountry3'

# Extract features and target variable
X = data[feature_columns]
y = data[target_column]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a featurizer using ColumnTransformer
featurizer = ColumnTransformer(
    transformers=[
        ('numeric', StandardScaler(), ['Review_age', 'Review_religious']),
        ('categorical', OneHotEncoder(), ['Review_education', 'Review_gender', 'Review_income'])
    ],
    remainder='passthrough'  # Pass through any other columns
)

# Create a pipeline with DecisionTreeClassifier
pipeline = Pipeline([
    ('features', featurizer),
    ('classifier', DecisionTreeClassifier(random_state=42))
])

# Train the pipeline on the training data
pipeline.fit(X_train, y_train)

# Make predictions on the test data
y_pred = pipeline.predict(X_test)

# Evaluate the pipeline
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

# Print the evaluation metrics
print(f'Accuracy: {accuracy:.2f}')
print('\nConfusion Matrix:\n', conf_matrix)
print('\nClassification Report:\n', class_report)

Accuracy: 0.32

Confusion Matrix:
 [[  70   11    0    0   21  249    1   12    1    2  333    0    0   17
     3   24    0    2    0    0   19    6   11    0    0    0    7]
 [   7  131    0    1   17  312    0   17    0    8  586    3    0   13
     0   50    0    1    1    0   14   14    6    1    6    0    4]
 [   2    4   26    0    4   61    0    6    0    0  108    1    0   12
     0    5    0    0    0    0    3    3    3    1    1    0    0]
 [   0    1    0    8    0    8    0    2    0    0   14    0    0    0
     0    1    0    0    0    0    0    1    0    0    0    0    0]
 [   9   17    4    0  265  479    9   31    1   10  962    2    3   66
     3  101    0    0    2    0   16   27   18    4    7    6    9]
 [  38   47    5    2  135 3379   18   87    1   22 2411   12    5   85
    13  182    2    2    4    2   50   71   40   12    9    0   23]
 [   0    5    0    0   16  221   59    0    1    2  228    1    0    4
     1   15    1    0    0    0    6    9    6    2    2    0    1]
 [   5   13    4    0   30  537   10  210    3    4 1023    1    2   31
     3   66    0    0    1    0   24   28    8    6    4    0    8]
 [   0    3    0    0    1   48    0    2    9    0   72    0    0    5
     1    4    1    0    0    0    2    3    2    0    0    0    0]
 [   6   11    3    0    9  352    3   18    2  111  365    1    0   17
     4   34    0    0    1    0    4   15    8    2    1    0    4]
 [  21   57    7    3   99 1644   22   92    2   23 5402    8    3  104
     5  235    2    3    1    0   41   82   31    5   14    3   16]
 [   2    4    0    0   13   78    1    4    0    3  180   39    0   13
     2   12    0    0    2    0    5    5    1    0    1    2    2]
 [   0    2    0    0    9   46    4    0    0    1   72    1   15    5
     0    8    0    0    0    0    4    7    3    0    0    0    0]
 [  11   25    4    0   67  469    4   38    0    7  871    8    5  307
     4  102    2    0    0    0   29   41   23    7    5    0    5]
 [   2   11    1    0    9  150    5    6    2    4  169    1    0   12
    29   15    0    0    1    0    9    8    1    0    2    0    4]
 [  12   32    7    1   41  624   14   37    3   12 1444    5    3   55
     3  577    0    2    1    0   14   64   21   11    8    0    8]
 [   2    0    0    0    6   39    2    3    0    0   76    0    0    9
     0    2   13    0    0    0    1    3    0    0    0    0    2]
 [   0    0    0    0    3   29    0    0    0    1   24    0    0    1
     0    0    1    7    1    0    0    0    0    0    0    0    2]
 [   0    1    1    0    1   34    1    0    0    0   61    0    0    4
     0    8    0    0    5    0    0    0    3    0    0    0    0]
 [   0    1    0    0    0   16    0    0    0    0   16    0    0    0
     0    2    0    0    0    3    3    0    0    1    1    0    0]
 [   5   18    2    0   15  542    6   15    2    3  623    0    2   28
     2   33    1    0    0    0  116   10    4    2    2    0    4]
 [   8   16    2    0   40  548    7   29    0   10  850   10    1   88
     3   87    0    1    3    0   25  305   10    3    7    0   10]
 [   7    7    1    1   37  258    4   17    4    7  536    1    0   34
     2   35    3    2    0    0   15   29  108    5    5    0    2]
 [   4    6    3    0   27  167    1    9    1    3  266    0    1   26
     0   21    1    0    0    0    4   16    6   61    2    0    1]
 [   1    4    2    0   18  145    3    7    0    6  220    0    1   16
     1   29    0    1    2    0    4   15   10    3   58    0    1]
 [   0    2    0    0    0   30    0    0    0    1   37    0    0    0
     0    3    0    0    0    0    1    1    1    0    0    3    2]
 [   9    6    1    0   16  362    5   12    0    6  422    1    0   14
     2   35    0    0    0    0    8   12    4    0    0    0   76]]

Classification Report:
               precision    recall  f1-score   support

         AUT       0.32      0.09      0.14       789
         BEL       0.30      0.11      0.16      1192
         BGR       0.36      0.11      0.17       240
         CYP       0.50      0.23      0.31        35
         CZE       0.29      0.13      0.18      2051
         DEU       0.31      0.51      0.39      6657
         DNK       0.33      0.10      0.16       580
         ESP       0.32      0.10      0.16      2021
         EST       0.28      0.06      0.10       153
         FIN       0.45      0.11      0.18       971
         FRA       0.31      0.68      0.43      7925
         GRC       0.41      0.11      0.17       369
         HRV       0.37      0.08      0.14       177
         HUN       0.32      0.15      0.20      2034
         IRL       0.36      0.07      0.11       441
         ITA       0.34      0.19      0.25      2999
         LTU       0.48      0.08      0.14       158
         LUX       0.33      0.10      0.16        69
         LVA       0.20      0.04      0.07       119
         MLT       0.60      0.07      0.12        43
         NLD       0.28      0.08      0.13      1435
         POL       0.39      0.15      0.21      2063
         PRT       0.33      0.10      0.15      1120
         ROU       0.48      0.10      0.16       626
         SVK       0.43      0.11      0.17       547
         SVN       0.21      0.04      0.06        81
         SWE       0.40      0.08      0.13       991

    accuracy                           0.32     35886
   macro avg       0.36      0.14      0.18     35886
weighted avg       0.33      0.32      0.27     35886

In [ ]:
from sklearn.model_selection import GridSearchCV

feature_columns = ['Review_age', 'Review_education', 'Review_gender', 'Review_income', 'Review_religious']
target_column = 'UserCountry3'

# Extract features and target variable
X = data[feature_columns]
y = data[target_column]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a featurizer using ColumnTransformer
featurizer = ColumnTransformer(
    transformers=[
        ('numeric', StandardScaler(), ['Review_age', 'Review_religious']),
        ('categorical', OneHotEncoder(), ['Review_education', 'Review_gender', 'Review_income'])
    ],
    remainder='passthrough'  # Pass through any other columns
)

# Create a pipeline with DecisionTreeClassifier
pipeline = Pipeline([
    ('features', featurizer),
    ('classifier', DecisionTreeClassifier(random_state=42))
])

param_grid = {
    'classifier__max_depth': [None, 5, 10, 15],
    'classifier__min_samples_split': [2, 5, 10],
    'classifier__min_samples_leaf': [1, 2, 4],
    'classifier__max_features': ['auto', 'sqrt', 'log2'],
    'classifier__criterion': ['gini', 'entropy']
}

# Use GridSearchCV to search for the best hyperparameters
grid_search = GridSearchCV(pipeline, param_grid, cv=5, scoring='accuracy')
grid_search.fit(X_train, y_train)

# Get the best hyperparameters
best_params = grid_search.best_params_
print("Best Hyperparameters:", best_params)

# Create a new DecisionTreeClassifier with the best hyperparameters
best_classifier = DecisionTreeClassifier(random_state=42, **best_params)
best_classifier.fit(X_train, y_train)

# Make predictions on the test data
y_pred = best_classifier.predict(X_test)

# Evaluate the classifier
accuracy = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)
class_report = classification_report(y_test, y_pred)

# Print the evaluation metrics
print(f'Accuracy: {accuracy:.2f}')
print('\nConfusion Matrix:\n', conf_matrix)
print('\nClassification Report:\n', class_report)

In [ ]:
#Just need to add a K = Nearest Neighbour (KNN) and map it into Europe to then create conclusions.